<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/css/adminlk.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="background-form hide">
        <div class="event-area hide">
            <h1 class="form-header">Создание событие</h1>
            <input class="form-input-name" type="text" placeholder="Название">
            <input class="form-input-day" type="text" placeholder="День недели">
            <p><textarea class="form-description" type="text" placeholder="Описание"></textarea></p>
            <input class="form-submit" type="submit" value="Сохранить">
            <button class="form-close">Отмена</button>
        </div>

        <div class="event-day-area hide">
            <h1 class="form-header">Создание событие</h1>
            <input class="form-input-name" type="text" placeholder="Название">
            <p><textarea class="form-description" type="text" placeholder="Описание"></textarea></p>
            <input class="form-submit" type="submit" value="Сохранить">
            <button class="form-close">Отмена</button>
        </div>
        
        <div class="event-change-area hide">
            <h1 class="form-header">Изменение события</h1>
            <input class="form-change-name" type="text" placeholder="Название">
            <p><textarea class="form-change-description" type="text" placeholder="Описание"></textarea></p>
            <input class="form-submit change-event" type="submit" value="Сохранить">
            <button class="form-close">Отмена</button>
        </div>
        
        <div class="show-event hide">
            <h1 class="form-header event-title"></h1>
            <p class="event-description"></p>
            <button class="add-category">Изменить категории</button>
            <button class="show-change-event-area">Изменить</button>
            <button class="form-close">Отмена</button>
            <button class="event-detele">Удалить</button>
            <button class="create-connection">Привязать событие к человеку</button>
        </div>

        <div class="add-category-area hide">
            <h1 class="form-header event-title">Изменение категорий</h1>
            <div class="categories-list"></div>
            <button class="sending-added-categories">Изменить категории</button>
            <button class="form-close">Отмена</button>
        </div>

        <div class="connection-area hide">
            <h1>Привязать событие к человеку</h1>
            <div class="alert-block hide">
                <h3 class="alert">Данного кода не существует</h3>
             </div>
            <div class="form-connection-area">
                <input class="form-input-code" type="text" placeholder="Код для привяки">
                <button class="send-code btn">Привязать</button>
            </div>
            <button class="close-form-connection-area btn">Отмена</button>
        </div>
    </div>

    <div class="head row">
        <div class="col-1" style="margin-top: auto; margin-bottom: auto; margin-left: 4rem;">
            <button class="create-event btn">Создать событие</button>
        </div>
        <div class="col-1"></div>
        <div class="create-code-block col-3">
            <button class="create-code btn">Создать код для привязки событий</button>
            <h2 class="code"></h2>
        </div>
        <div class="col-4"></div>
        <div class="col-1">
            <div class="exit btn">Выход</div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-2" >
            <div class="menu">
                <div class="categories">
                    <h1 class="menu-title">Категории</h1>
                </div>
                <div class="menu_add_class btn">+</div>
            </div>
        </div>

        {% raw %}
            <div id="prev" class="col">
                <div class="days">
                    <div v-for="day in days" class="day">
                        <div class="days-titles-wrap">
                            <h1 class="day-date">17 февраля   </h1>
                            <h1 class="day-title">{{day['day']}}</h1>
                        </div>
                        <button class="create-event-day btn hide">Создать событие</button>
                        <div class="events-list"></div>
                    </div>
                </div>
            </div>
        {% endraw %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="../static/js/adminlk.js"></script>
</body>
</html>